* {
    transition: .1s ease;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    align-items: center;
    justify-items: center;
    touch-action: manipulation;
    appearance: none;
    position: relative;
}

*:focus {outline: none;}

body {
    position: relative;
}

button {
    touch-action: manipulation;
    appearance: none;
    border: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

button:active {
    outline: none;
    box-shadow: none;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

#container > * {
    flex-grow: 1;
    margin: 20px;
}

#beehive {
    margin-right: -60px;
    height: 310px;
}

#beehive button {
    --len: 25%;
    clip-path: polygon(var(--len) 0%, calc(100% - var(--len)) 0%, 100% 50%, calc(100% - var(--len)) 100%, var(--len) 100%, 0% 50%);
    width: 100px;
    height: 90px;
    border: none;
    font-size: 25pt;
    font-weight: 600;
    appearance: none;
    z-index: 2;
}

#beehive button:active {
    scale: 80%;
    opacity: 75%;
}

#button4 {
    background-color: var(--yellow);
    z-index: 1;
}

.row {
    margin-bottom: -41px;
}

.row button {
    margin-right: 60px;
}

#text {
    font-size: 30pt;
    font-weight: 700;
    height: 50px;
    margin-bottom: 30px;
    direction: rtl;
    display: inline-block;
}

#tab {
    display: inline-block;
    color: var(--yellow);
    width: 3px;
    height: 45px;
    position: relative;
    top: 8px;
    margin: 2px;
    background-color: var(--yellow);
    animation: blink .4s linear 0s infinite alternate;
}

@keyframes blink {
    0% {opacity: 100%;}
    49% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 0%;}
}

@keyframes fade-out-in {
    0% {color: initial;}
    50% {color: rgba(0,0,0,0);}
    100% {color: initial;}
}

#controls {
    display: flex;
    justify-content: center;
}

#controls button {
    border: none;
    height: 45px;
    border-radius: 25px;
    font-size: 15pt;
    transition: none;
    appearance: none;
    margin: 5px;
}

#controls button:active {
    background-color: rgba(0,0,0,0.2);
}

#controls button:not(#shuffleButton) {
    width: 100px;
}

#shuffleButton {
    width: 45px; border-radius: 22.5px;
    box-sizing: content-box;
    padding: 0;
}

#promptBar {
    background-color: black;
    color: lightgray;
    font-size: 12pt;
    font-weight: 400;
    min-width: 70px;
    max-width: 300px;
    width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 40px;
    opacity: 65%;
    position: relative;
    left: 50%;
    line-height: 28pt;
    translate: -50% 0;
    margin-bottom: 20px;
}

#promptBar.big {
    font-size: 15pt;
    height: 40px;
    padding: .2em;
    margin-bottom: calc(20px - .4em);
}

#promptBar.golden {
    background-color: var(--yellow);
    color: black;
    opacity: 100%;
    transition: 0s;
}

#promptBar.hide {opacity: 0;}

#table {
    max-width: fit-content;
    white-space: nowrap;
    table-layout: fixed;
}

#table * {
    height: 30px;
    padding: 10px;
}

#table th {
    background-color: var(--yellow);
    font-weight: 600;
    font-size: 15pt;
    background-clip: content-box;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    opacity: 90%;
    color: rgba(0,0,0,0.9);
}

/*#table tr:not(:first-of-type) {
    background-color: rgba(0,0,0,0.1);
}*/

#usedTitle {
    font-weight: 400;
    margin-bottom: -5px;
}

#input {
    flex-grow: 2;
    width: 20em;
    height: fit-content;
}

#stats {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    width: 30em;
    max-height: 80vh;
    flex-grow: 1;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
}

#stats.minimized {display: initial; overflow: hidden;}

#stats.minimized *:not(#minView, #minView *) {
    display: none;
}

.centerLetter {
    color: var(--yellow);
}

#bigRankContainer {
    top: 0;
    width: 30em;
    display: flex; flex-direction: row;
}

#rankTitle {
    flex-grow: 1;
}

#rankContainer {
    flex-grow: 2;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    z-index: 5;
}

#bigScoreContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#scoreContainer {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
}

.rankdot {
    background-color: gray;
    --radius: 10px;
    width: var(--radius);
    height: var(--radius);
    border-radius: var(--radius);
    font-size: 10pt;
    line-height: 24pt;
    margin: 10px;
}

.rankdot.completed, .rankdot.current {
    background-color: var(--yellow);
}

.rankdot.current {
    --radius: 30px;
    margin-top: 0px;
}

#minView {
    display: flex; flex-direction: row;
    justify-content: center;
}

#minButton {
    border: none;
    background: none;
    font-weight: 1000;
    font-size: 15pt;
    margin: .1rem;
    color: gray;
    scale: 200% 100%;
    rotate: -180deg;
    transition: .2s;
    flex-grow: 1;
}

#minButton.clicked {
    rotate: 0deg;
}

.minimized {
    display: none;
}

#usedContainer {
    direction: rtl;
    margin: 10px;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 30em;
    max-height: 30em;
    position: relative;
}

#rankLine {
    position: absolute;
    background-color: gray;
    border: none;
    height: 1px;
    transition: 0s;
}

dialog {
    direction: rtl;
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

dialog * {max-width: 90vw;}

dialog:not([open]) {
    display: none;
}

#adminDialog>* {
    padding: 1em;
}

#welcomeDialog>ul>* {
    margin-bottom: 30px;
}

form button {
    background-color: var(--yellow); border: 3px solid black; font-size: 15pt
}

ul {
    display: flex; flex-direction: column; align-items: flex-start;
    text-align: right;
}

#welcomeDialog * {
    text-align: right;
}

#extras {
    position: absolute; right: 10px; top: 80vh;
    transition: .3s;
    width: 90vw;
    font-weight: bolder;
    z-index: 1;
    display: flex;
    direction: rtl;
    overflow: hidden;
}

#extras button {
    font-size: 25px;
    background-color: var(--yellow);
    text-align: center;
    color: black;
    border-radius: calc(45px/2);
    margin: 5px;
    box-shadow: 0px 4px 0px lightgray;
}

#dialogButton {
    width: 45px; height: 45px;
    text-align: center;
}

#extras button:hover {
    translate: 0 5px;
    box-shadow: none;
}

mark {
    background-color: var(--yellow);
}

.big {
    padding: .2em; font-size: 1.2em;
}

.bold {
    font-weight: bolder;
}

#statsAndRank {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

@media only screen and (max-width: 750px) {
    #container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100vw; height: 100vh;
        position: fixed;
        left: 0; top: 0;
    }
    #statsAndRank {
        position: absolute;
        top: 0;
    }
    #input {
        margin-top: 100px;
    }
    #bigRankContainer {
        width: 80vw;
    }
    #stats {
        background-color: white;
        margin: 0;
        width: 80vw;
        height: 75vh;
    }
    /*#usedContainer {
        max-height: 50vh;
    }*/
    #stats.minimized {
        height: 2em;
    }
    #minView {
        margin-top: -1em;
    }
    #promptBar {
        z-index: 6;
    }
    #promptBar.hide {
        z-index: -1;
    }
    #dialogButton {
        width: 45px; height: 45px;
        text-align: center;
    }
}

@media only screen and (min-width: 751px) {
    #usedContainer::-webkit-scrollbar {
        position: fixed;
        right: 0;
        top: 0; height: 100%;
        width: 10px;
        height: 10px;
        background-color: var(--yellow);
    }
    
    #usedContainer::-webkit-scrollbar-thumb {
        background-color: darkgoldenrod;
    }    
}

:root {
    --yellow: #ffcd19;
}
